[Unit]
Description=Setup home directory mountpoints for UID 1000
After=local-fs.target
Before=greetd.service
ConditionPathExists=!/var/lib/dank-bluebuild/storage-setup.done

[Service]
Type=oneshot
ExecStart=/usr/libexec/dank-bluebuild/storage-setup

[Install]
WantedBy=multi-user.target