[Unit]
Description=Easy Effects Audio Processor (Flatpak)
After=hyprland-session.target pipewire.service wireplumber.service
Wants=hyprland-session.target
PartOf=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run com.github.wwmm.easyeffects --gapplication-service
Restart=on-failure
RestartSec=3
NoNewPrivileges=true

[Install]
WantedBy=hyprland-session.target   
